.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
  }
  
  .loader {
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid rgba(81, 75, 130, 0.2);
    border-top-color: #514b82;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  