.main-nav li {
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.main-nav img {
    width: 30px;
    border-radius: 90%;
    margin-left: 10px;
}
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    background-color: black;
    color: #fff
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.logo img {
    width: 60px;
    border-radius: 90%;
    margin-left: 10px;
}
