*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: #EDE7F6;
}

li {
  list-style-type:none;
}

a {
  text-decoration: none;
  color: white;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
    height: 5px;
  }
::-webkit-scrollbar-thumb {
    background-color: #3f3f3f;
    border-radius: 1000px;
  }


  .conteiner-NotFound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    background-image: url('/img/NotFoundBack.webp');
  background-size: cover;
  background-position: center;

  }
  
  .contenido-NotFound {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
  }
  
  .contenido-NotFound  h1 {
    font-size: 96px;
    color: #ff6347;
    margin: 0;
  }
  
  .contenido-NotFound  h2 {
    font-size: 24px;
    margin: 20px 0;
    color: #333;
  }
  
  .contenido-NotFound  p {
    font-size: 16px;
    color: #777;
    margin-bottom: 30px;
  }
  
  .inicio-NotFound {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .inicio-NotFound:hover {
    background-color: #ff4500;
  }
  
  .img-NotFound {
    margin-top: 20px;
  }
  
  .img-NotFound img {
    width: 100%;
    max-width: 300px;
  }
  